body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cabecera {
  color: #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contenido-general {
  min-height: calc(100vh - 80px);
  color: #ddd;
}

.contenedor-anyadir {
  position: relative;
}

.boton-anyadir {
  width: 100%;
}

.form-anyadir {
  position: absolute;
  z-index: 1;
  padding: 15px;
}
